/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .imtip {
    position: absolute;
    top: 0;
    right: 0;
    height: 20%;
    background-color: white;
  }

  /* Bottom left text */
  .table4 {
    position: absolute;
    bottom: 18px;
    left: 16px;
    background-color: black;
    font-size: 20px;
  }
  
  .table3 {
    position: absolute;
    bottom: 40px;
    left: 16px;
    background-color: black;
    font-size: 20px;
  }

  .table2 {
    position: absolute;
    bottom: 62px;
    left: 16px;
    background-color: black;
    font-size: 20px;
  }
  .table1 {
    position: absolute;
    bottom: 84px;
    left: 16px;
    background-color: black;
    font-size: 20px;
  }

  .scoring {
    position: absolute;
    bottom: 110px;
    left: 16px;
    background-color: black;
    font-size: 20px;
  }

  /* Top left text */
  .top-left {
    position: absolute;
    top: 18px;
    left: 16px;
    background-color: red;
    font-size: 30px;
  }

