
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  }
  
  .event1 { grid-area: 1 / 1 / 2 / 2; }
  .event2 { grid-area: 1 / 2 / 2 / 3; }
  .event3 { grid-area: 1 / 3 / 2 / 4; }
  .event4 { grid-area: 2 / 1 / 3 / 2; }
  .event5 { grid-area: 2 / 2 / 3 / 3; }
  .event6 { grid-area: 2 / 3 / 3 / 4; }
  .event7 { grid-area: 3 / 1 / 4 / 2; }
  .event8 { grid-area: 3 / 2 / 4 / 3; }
  .event9 { grid-area: 3 / 3 / 4 / 4; }

.title {
    background-color: #E0CA3C;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    padding: 10px;
    height: fit-content;
  }


.intro {
  background-color:#A799B7 ;
  border: 10px solid black;
  padding: 2vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info {
  background-color:#A799B7 ;
  border: 10px solid black;
  padding: 2vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  background-color: black;
  color: white;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.event1, .event3, .event5, .event7, .event9{
  background-color: #048A81;
  border: 10px dotted black;
  padding: 15px;
}

.event2, .event4, .event6, .event8 {
  background-color: #A799B7;
  padding: 15px;
 }

.event1:hover, .event2:hover,.event3:hover,.event4:hover,.event5:hover,.event6:hover,.event7:hover,.event8:hover,.event9:hover {
  background-color: #E0CA3C;
}

@media only screen and (max-width: 500px) {
  .grid {
    display: block;
  
}
}