body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition-duration: 1s;
    animation: 3s;

}

#box1:hover {
    background-color: purple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-duration: 3s;
    animation-name: box2move;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

@keyframes box2move{
    from {
        margin-top: 100%;
    }

    50% {
        background-color: lightblue;
        margin-left:50%;
        font-size: 20
    }

    to {
        margin-top: 0%
    }
}
